{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "sourceType": "module",
    "extraFileExtensions": [".vue", ".d.ts"]
  },
  "extends": [
    "@mutoe/eslint-config-preset-vue"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
