{
  "root": true,
  "env": {
    "cypress/globals": true
  },
  "extends": [
    "plugin:cypress/recommended"
  ],
  "rules": {
    "comma-dangle": [
      "warn",
      "always-multiline"
    ]
  }
}
